.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  color: black;
  background-color: white;
  height: 100vh;
  padding-top: 15px;
  width: 100%;
}

.modal_header{
  padding: 10px;
}
.modal-footer {
  position: fixed;
  bottom: 100px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.modal-title {
  color: black;
  margin: 0;
  margin-bottom: 35px;
}

.modal-body {
  padding: 10px;
  border-top: 1px #eee;
  border-bottom: 1px #eee;
}

.modal-btnClose{
    background-image: url("../../../public/img/close.png");
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  margin-left: auto;
  transition: all 0.3 ease;
  &:hover{
    transform: scale(1.1,1.1);
  }
  &:active{
  transform: scale(0.9,0.9);

  }
}
.modal-btn_next{
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: medium;
  height: 40px;
  width: 200px;
  
}