// Colors
$primary: #272730;
$secondary: #ff1666;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");